body {
  margin: 0;
  /*font-family: Arial, sans-serif;*/
  background: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  color: #555;
  transition: all 0.3s ease;
}

.tab.active {
  background-color: #000A87;
  color: #fff;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  background: white;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-content p {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: bold;
}

/*.card-content h3 {*/
.card-content h5 {  
  margin: 0 0 15px 0 !important;
  font-size: 15px !important;
  font-weight: normal !important;
  line-height: normal !important;
  flex-grow: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: auto;
}

.card-content a {
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.coming-soon {
  font-size: 18px;
  color: #777;
  text-align: center;
  padding: 40px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .tab-content {
    flex-direction: column;
    align-items: center;
  }
}